<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>
  <div>
    <table>
      <tr>
        <th>{{ localize 'GF.tech' }}</th>
        <th>{{ localize 'GF.condition' }}</th>
        <th>{{ localize 'GF.scrapped' }}</th>
        <th>{{ localize 'GF.value' }}</th>
        <th>{{ localize 'GF.equipped' }}</th>
      </tr>
      <tr>
        <td>
          <select name="data.tech">
            {{#select data.tech}}
            {{#each config.techTypes as |name type|}}
            <option value="{{type}}">{{ localize name }}</option>
            {{/each}}
            {{/select}}
        </td>
        <td><input type="text" name="data.condition" value="{{data.condition}}" /></td>
        <td><input type="text" name="data.scrapped" value="{{data.scrapped}}" /></td>
        <td><input type="text" name="data.value" value="{{data.value}}" data-dtype="Number" /></td>
        <td><input type="checkbox" name="data.equipped" {{checked data.equipped}} /></td>
      </tr>
    </table>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</form>